@media only screen and (min-width: 1000px) {
  .splitline{
    background: grey;
    width: 30px;
    height: 450px;
    float: left;
  }
}
@media only screen and (max-width: 999.98px) {
  .splitline{
    background: grey;
    width: 100%;
    height: 30px;
    float: left;
  }
}
p{
  font-size: 22px;
  font-weight: bold;
}

button{
  margin-bottom: 20px;
}

.container {
  border: 10px solid #b6bdc3;
  width: 100%;
  background: #fff;
  margin: 0 auto;
}
.menu{
  float: left;
  margin: 10px 25px;
}
#gameMap{
  float: left;
}
#gameZone {
  position: relative;
  top: 0;
  left: 0;
  float: left;
  margin: 25px;
}
#timer{
  border: solid 1px black;
}
.countries {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}

/* The container */
.custom-checkbox-container {
  border: 10px solid #f26222;
  background: #fff;
  display: block;
  position: relative;
  padding: 2px 10px 2px 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.custom-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.custom-checkbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
/* On mouse-over, add a grey background color */
.custom-checkbox-container:hover input ~ .custom-checkbox-checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.custom-checkbox-container input:checked ~ .custom-checkbox-checkmark {
  background-color: #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.custom-checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.custom-checkbox-container input:checked ~ .custom-checkbox-checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.custom-checkbox-container .custom-checkbox-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.button {
  background-color: #555555; /* Black */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.warning{
  padding: 15px;
  background-color: #d65d65;
  float: right;
}
